<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>DiscGolf</title>
	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Boogaloo&effect=outline' rel='stylesheet' type='text/css'>
	<!-- custom css -->
	<link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
	{{>header}}
	<div class="container content">
		<div class="row">
			<div class="coursesDiv">
				<script id="course-template" type="text/x-handlebars-template">
				<div class="col-md-6">
					<h1 class="courseTitle text-center">Courses near \{{courses.[0].city}}, \{{courses.[0].state_province}}</h1>
					\{{#each courses}}
					<div class="courseList course_\{{course_id}}" data-id="course_\{{course_id}}">
						<p class="courseName">Course Name: \{{course_name}}</p>
						<p class="courseLocation">Address: \{{street}} \{{city}} \{{state_province}}, \{{postal_code}}</p>
						<button class="moreInfo">Course Details</button>
						<div class="courseDetailsDiv" id="course_\{{course_id}}">
							<p class="courseDescription">Description: \{{course_description}}</p>
							<p class="courseFees">Fees: \{{fees}}</p>
							<p class="courseHoles">Holes: \{{holes}}</p>
							<p class="coursePrivate">Private: \{{private}}</p>
							<p class="externalLink1Url"><a href="\{{external_link_1_url}}">Course Website</a></p>
						</div>
					</div>
					<hr>
					\{{/each}}
				</div>	
				</script>
			</div>  {{!-- end of courses div --}}
			<div class="eventsDiv col-md-6">
					<script id="events-template" type="text/x-handlebars-template">
					<div class="eventsHeadline">
						<h1 class="eventsTitle">Events in \{{events.[0].state_province_name}}</h1>
					</div>
					\{{#each events}}
					<div class="eventsList">
						<p class="tournament_name">Tournament Name: <a href="http://www.pdga.com/tour/event/\{{tournament_id}}"> \{{tournament_name}}</a></p>
						<p class="eventLocation">Location: \{{city}}, \{{state_prov}}</p>
						<p class="startDate">Event runs from: \{{start_date}} to \{{end_date}}</p>
					</div>
					<hr>
					\{{/each}}
				</script>
			</div> {{!-- end of events div --}}
		</div> {{!-- end of main row --}}
	</div>  {{!-- end container --}}
	{{>footer}}



	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<script type="text/javascript" src="profile.js"></script>
</body>
</html>